[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-repackaged = "==0.3.1"
mysql-connector-python = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
