<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/styles.css') }}"
		/>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a><img src="static/assets/home.png" alt="home" />Home</a>
				</li>
				<li>
					<a>
						<img
							src="static/assets/about.png"
							alt="about"
						/>About</a
					>
				</li>
				<li>
					<a>
						<img
							src="static/assets/author.png"
							alt="authors"
						/>Authors</a
					>
				</li>
			</ul>
		</nav>
		<section>{% block content %} {% endblock %}</section>
	</body>
</html>
