@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-100: #ab52db;
	--primary-200: #ebdaf4;
	--light-100: #f3f2f7;
	--dark-900: #464255;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--light-100);
	color: var(--dark-900);
	display: grid;
	grid-template-columns: 10% 90%;
}
